<%= render :partial => "layouts/menu" %>

<div id="admin_liste">
	<h1>Timeforbrug pr. måned</h1>
	<% @counter = 0 %>
		<% for hour in @hours %>
		<% @counter = @counter + 1 %>
			<% @year = l hour.date, :format => :year %>
			<%# l betyder at vi bruger I18 på hour.date og formatet :year under :date delen i da.yml filen %>
			<% @month_name = l hour.date, :format => :month %>
			<% @month_number = hour.date.month %>
			<% if @year != @year_previous %>
				<% @year_previous = @year %>
				<% if @counter > 1 %>
					</table>
				<% end %>
				<table class="tabel_timer">
					<tr>
						<td colspan=2 class="year"><%= @year %></td>
					</tr>
					<tr>
						<td class='year'>Måned</td>
						<td class='year'>Antal</td>
					</tr>
			<% else %>
				<% if @month_number != @month_previous %>
					<% @month_previous = @month_number %>
					<tr>
						<td class="monthly"><%= @month_name.capitalize %></td>
						<td class='pos'><%= number_with_precision(Hour.month_hours(hour.date).sum(:number), :locale => :da) rescue nil %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
</div>