<tr id="relation_12">
	<td colspan="5"><b>
	<div id="voucher_status">
		<a href="/relations/12/hours" class="name">Palle Petersen Management Service &amp; Retail Management</a> – 
		<span id="voucher_headline">Klippekort status: </span>
		<span id="voucher_text">
			(5 
			- 0.3
			= 
			<span id="voucher_green"> 4.7 klip resterer)</span> 

		</span>
	</div>
</b></td>

<td class="pos">
	<div id="voucher_status">
		<a href="/hours/years_show/12">[Vis]</a>
	</div>
</td>
</tr>