<div id="top_foto"><%= image_tag "top_text.jpg" %>
	<div id="fb_linkedin">
		<a href="http://da-dk.facebook.com/krsgrd"><img src="/images/fb.jpg" alt="Facebook"></a>
		<a href="http://dk.linkedin.com/pub/thomas-schmidt/9/83/969"><img src="/images/linkedin.png" alt="LinkedIn"></a>
	</div>
</div>