<div id="top_foto"><%= image_tag "top_text.jpg" %>
	<div id="fb_linkedin">
		<a href="http://da-dk.facebook.com/krsgrd"><%= image_tag "fb.jpg", :alt => "Facebook"  %></a>
		<a href="http://dk.linkedin.com/pub/thomas-schmidt/9/83/969"><%= image_tag "linkedin.png", :alt => "LinkedIn"%></a>
	</div>
</div>